
//-------- Z Index --------

.z-index{
    z-index: 1;
}
.z-index-max{
    z-index: 100!important;
}
//-------Padding---------

.py-6{
    padding-bottom: 5rem;
    padding-top: 5rem;
}
//-------- Text style --------


h1{
    display: inline-block;
}
h2{
    display: inline-block;
}
h3{
    display: inline-block;
}
//---------TEXT-------------
.text-color{
    color: $text-w-color;
}
.text-c-color{
    color: $text-c-color;
}
.text-g-color{
    color: $gold-c-color;
}
.hover:hover{
    color: $gold-color;
}
.text-justify{
    text-align: justify;
}

.fs-m{
    font-size: 18px;
}
.fs-7{
    font-size: 0.9rem;
}

.text-right{
    text-align: -webkit-right;
}
.back{
    writing-mode: vertical-lr;
    text-orientation: upright;
}

//-----------After-------------

.after-line{
    :nth-child(1)::after{
        content: " ";
        position: absolute;
        bottom: -5px;
        height: 1.6px;
        left: 0;
        width: 100%;
        background-color: $gold-color;
    }
}

.line-hover {
    :nth-child(1)::after { 
       content: " ";
       position: absolute;
       bottom: -1.5px;
       height: 0.7px;
       left: 50%;
       width: 0%;
       background-color: $dark-color;
       transition: 0.5s;
       transition-timing-function: ease;
   }

   :nth-child(1):hover {
       color: $text-w-color;
   }

   :nth-child(1):hover::after {
       height: 0.7px;
       background-color: $gold-color;
       width: 100%;
       left: 0;
   }
}


.border-light{
    border: 1px solid $text-w-color;
    z-index: 1;
}

//----HEIGHT------

.h-500{
    min-height: 500px;
}

//-------BACKGROUND------------

.background{
    background-color: rgb(146, 51, 138)!important;
}

//----------TRANSITION------

.trs{
    transition: 2s;
}

//--------cursor----------

.click-style{
    width: 90px!important;
    height: 90px!important;
    background-color: transparent!important;
    border: 1px solid $text-w-color;
    animation: opacity 0.2s infinite ;
}
@keyframes opacity {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }

}
.top-up{
    transition: 0.4s;
    font-weight: 600!important;
    cursor: pointer;
}
.top-up:hover{
    transform: scale(1.1);
    background-color: $dark-color!important;
    color: $text-w-color;
    border: 1px solid $text-w-color;
    box-shadow: 0px 0px 20px 0px $text-w-color;
   
}