@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // cursor:none!important;
    font-family: 'Poppins', sans-serif;

}
body {
    width: 100%;
    overflow-x: hidden;
    background-color: $dark-color !important;
}
::selection {
    background-color: $gold-color;
    color: $dark-color;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb { 
    background-color: $gold-color;
}
