$text-w-color: #f8f9fa;
$gold-color: #ffdc6c;
$dark-color: #171717;
$dark-color-opacity: #171717b4;
$dark-back-opacity: #17171783 ;
$text-c-color: #c9c9c9;
$gold-c-color: #ffdd6caf;
$success-color: #198754;