.menu-btn {
  position: relative;
  width: 40px;
  height: 40px;
  right: 0;
  cursor: pointer;
}

.menu-burger {
  width: 20px;
  height: 4px;
  background-color: #f8f9fa;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-burger::before,
.menu-burger::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 4px;
  background-color: #f8f9fa;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-burger::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.menu-burger::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.menu-btn.open .menu-burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background-color: transparent !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-btn.open .menu-burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

.header-style {
  position: fixed;
  padding: 5px 0px;
  z-index: 1;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(#171717), to(transparent));
  background: linear-gradient(180deg, #171717, transparent);
}

.header-ul li a {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1px;
}

.text-header span.name-text {
  font-weight: 400;
}

.text-header span {
  font-weight: 300;
}

.header-black {
  background-color: #171717;
  z-index: 100;
}

.flag {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
}

.flag:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  background-color: #171717 !important;
  -webkit-box-shadow: 0px 0px 20px 0px #f8f9fa;
          box-shadow: 0px 0px 20px 0px #f8f9fa;
}

.slider-text {
  max-width: 450px;
  min-width: 250px;
  margin-right: 10px;
  top: 40%;
}

.anim-write {
  position: absolute;
  bottom: 17px;
  -webkit-animation: animateWrite 0.9s ease infinite;
          animation: animateWrite 0.9s ease infinite;
}

.anim-write-h {
  top: 40%;
  -webkit-animation: animWriteH 4s ease-in-out infinite;
          animation: animWriteH 4s ease-in-out infinite;
}

@-webkit-keyframes animWriteH {
  0%,
  100% {
    top: 40%;
  }
  50% {
    top: 45%;
  }
}

@keyframes animWriteH {
  0%,
  100% {
    top: 40%;
  }
  50% {
    top: 45%;
  }
}

@-webkit-keyframes animateWrite {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animateWrite {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.carousel-slider {
  min-height: 100vh;
  width: 100%;
}

.carousel-slider img {
  min-height: auto;
  background-position: center;
  background-size: cover;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#main-slider {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}

.left-right {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider-button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 45px;
  cursor: pointer;
  color: white;
  margin: 20px;
  z-index: 1;
}

.left-button {
  left: 0;
}

.right-button {
  right: 0;
}

#about {
  background-color: #171717;
}

.about-title h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-text-stroke: 1px #f8f9fa;
  font-size: 5rem;
  text-transform: uppercase;
  -webkit-box-reflect: below -55px linear-gradient(transparent, transparent, #0004, #0001);
  font-size: 4rem;
  padding-bottom: 1.5rem;
}

.card-img-div {
  min-height: 500px;
}

.card-img {
  height: 80%;
  width: 80% !important;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px 40px 0px 40px;
  border: 5px solid #171717;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0px 0px 5px 0px #f8f9fa;
          box-shadow: 0px 0px 5px 0px #f8f9fa;
  background-color: #171717;
  border-radius: 10px !important;
}

.card-img1 {
  background-image: url(../img/my-story.svg);
  background-size: cover;
  background-position: left;
  z-index: 0;
}

.card-img2 {
  background-image: url(../img/education.svg);
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.card-img3 {
  background-image: url(../img/space.svg);
  background-size: contain;
  z-index: 0;
}

.card-img4 {
  background-image: url(../img/movie.svg);
  background-size: contain;
  z-index: 0;
}

.card-img6 {
  background-image: url(../img/web-developer.svg);
  background-size: contain;
  z-index: 1;
}

.card-img5 {
  background-image: url(../img/web-site.svg);
  background-size: contain;
  z-index: 0;
}

.card-img:hover {
  z-index: 2;
  -webkit-transform: scale(1.1) !important;
  transform: scale(1.1) !important;
}

#projects {
  min-height: 100vmin;
}

.projects-about {
  width: 100%;
  min-height: 250px;
  background-color: #171717;
  position: relative;
  border-bottom: 1px solid #f8f9fa;
}

.year {
  font-size: 6rem;
  position: relative;
}

.hidden {
  width: 100%;
  height: 90px;
  background-color: #171717;
  padding: 0;
  z-index: 2;
}

#anim-text {
  overflow-x: hidden;
}

.opacity {
  width: 100%;
  height: 100%;
  background-color: #17171783;
}

#contact {
  background: url(../img/Baku123.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact {
  height: auto;
  width: 100%;
}

.address {
  position: absolute;
  right: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  background: #171717b4;
}

.address-mobile {
  height: 100%;
  width: 100%;
  background: #171717b4;
}

label {
  display: block !important;
  color: #f8f9fa;
  width: 90px;
}

.send-message {
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0px;
}

.contact-data {
  margin: 10px;
}

#message {
  height: 100px;
  margin-bottom: 20px;
  width: 100%;
}

.button-message {
  background: green;
  border-radius: 3px;
  color: #f8f9fa;
  border: none;
  padding: 5px 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-message:hover {
  background-color: white;
  color: #171717 !important;
}

.face-effect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: #171717;
}

.face-effect .face {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #ffdc6c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: perspective(800px) rotateY(-10deg);
          transform: perspective(800px) rotateY(-10deg);
  -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, #0002, #0001);
}

.face-effect .face::before {
  content: "";
  position: absolute;
  top: 180px;
  width: 150px;
  height: 70px;
  background-color: #b57700;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.face-effect .face:hover::before {
  top: 210px;
  width: 150px;
  height: 20px;
  background-color: #b57700;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.face-effect .face .eyes {
  position: relative;
  top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.face-effect .face .eyes .eye {
  position: relative;
  width: 80px;
  height: 80px;
  display: block;
  background: #fff;
  margin: 0 15px;
  border-radius: 50%;
}

.face-effect .face .eyes .eye::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
}

.btn {
  font-weight: 300 !important;
}

.btn-style {
  background-color: #f8f9fa !important;
  color: #171717 !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-style:hover {
  background-color: #171717 !important;
  -webkit-box-shadow: 0px 0px 10px 0px #f8f9fa;
          box-shadow: 0px 0px 10px 0px #f8f9fa;
  border: 1px solid #f8f9fa;
  color: #f8f9fa !important;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.top-style {
  margin: auto 0px;
  height: 85% !important;
  background-color: #f8f9fa;
  font-size: 25px;
  border-radius: 5px;
}

.text-dark {
  color: #171717;
}

.wave {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  line-height: 0;
  overflow: hidden;
  height: 100px;
  background: url(../img/wave.png);
  background-size: 1000px 100px;
  -webkit-animation: walveAnimate 5s ease-in-out infinite;
          animation: walveAnimate 5s ease-in-out infinite;
  -webkit-animation-delay: calc(var(--i) * 0.25s);
          animation-delay: calc(var(--i) * 0.25s);
}

@-webkit-keyframes walveAnimate {
  0%,
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes walveAnimate {
  0%,
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

.wave#wave1 {
  z-index: 5;
  opacity: 1;
  background-position-x: 400px;
}

.wave#wave2 {
  z-index: 4;
  opacity: 0.5;
  background-position-x: 300px;
}

.wave#wave3 {
  z-index: 3;
  opacity: 0.3;
  background-position-x: 200px;
}

.wave#wave4 {
  z-index: 2;
  opacity: 0.7;
  background-position-x: 700px;
}

#nav-mobile {
  width: 100%;
  position: relative;
  z-index: 6;
}

.navbar-mobile {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: auto;
  background: #171717;
}

.navbar-style {
  width: 100%;
  height: auto;
  padding-top: 20px;
}

.nav-li {
  border-bottom: 1px solid #f8f9fa;
  line-height: 3 !important;
}

.nav-li > a:hover {
  color: #f8f9fa;
}

.social-ul li a i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #f8f9fa;
}

.lg-cont {
  z-index: 1000;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  bottom: 0px;
}

.loanding {
  background-color: transparent;
  width: 70px;
  height: 70px;
  border-left: 5px solid #ffdc6c;
  border-radius: 100%;
  -webkit-animation: loanding 500ms linear infinite;
          animation: loanding 500ms linear infinite;
}

@-webkit-keyframes loanding {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loanding {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.alert-container {
  z-index: 1000;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  bottom: 0px;
}

.alert-successful {
  background-color: #f8f9fa;
  z-index: 100;
  width: 300px;
  min-height: 300px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px 0px #171717;
          box-shadow: 0px 0px 20px 0px #171717;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.alert-oky {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #198754 !important;
  border: 1px solid #198754;
  color: #f8f9fa;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 1.2rem;
}

.alert-oky:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 10px 0px #171717;
          box-shadow: 0px 0px 10px 0px #171717;
  box-shadow: 0px 0px 10px 0px #171717;
}

.color-suc {
  color: #198754;
}

input {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

textarea {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

input:focus {
  background-color: #171717 !important;
  color: #f8f9fa;
  border: 1px solid #f8f9fa;
  -webkit-box-shadow: 0px 0px 10px 0px #f8f9fa;
          box-shadow: 0px 0px 10px 0px #f8f9fa;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

textarea:focus {
  background-color: #171717 !important;
  color: #f8f9fa;
  border: 1px solid #f8f9fa;
  -webkit-box-shadow: 0px 0px 10px 0px #f8f9fa;
          box-shadow: 0px 0px 10px 0px #f8f9fa;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.bubble-anim {
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 10px 0px #f8f9fa;
          box-shadow: 0px 0px 10px 0px #f8f9fa;
  z-index: 1;
}

.bubble-anim-con {
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  position: absolute;
}

.bubble-anim-con::before {
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  border-radius: 50%;
  -webkit-transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  pointer-events: none;
}

.bubble-anim:hover {
  width: 90px;
  height: 90px;
}

.bubble-anim-con:hover::before {
  width: 120px;
  height: 120px;
}

.gmail-color {
  background-color: #ffccc6;
}

.bubble-gmail {
  top: calc(50% + 5rem);
  left: calc(10% + 10px);
  -webkit-animation: bubble-gmail 3s ease-in-out infinite alternate;
          animation: bubble-gmail 3s ease-in-out infinite alternate;
}

.bubble-gmail::before {
  width: 550px;
  height: 550px;
}

@-webkit-keyframes bubble-gmail {
  0%,
  100% {
    top: calc(50% + 5rem);
  }
  50% {
    top: calc(50% + 8rem);
  }
}

@keyframes bubble-gmail {
  0%,
  100% {
    top: calc(50% + 5rem);
  }
  50% {
    top: calc(50% + 8rem);
  }
}

.github-color {
  background-color: white;
}

.bubble-github {
  top: calc(50% + 0.5rem);
  right: calc(10% + 10px);
  -webkit-animation: bubble-github 3.3s ease-in-out infinite alternate;
          animation: bubble-github 3.3s ease-in-out infinite alternate;
}

.bubble-github::before {
  width: 400px;
  height: 400px;
}

@-webkit-keyframes bubble-github {
  0%,
  100% {
    top: calc(50% + 0.5rem);
  }
  50% {
    top: calc(50% + 3rem);
  }
}

@keyframes bubble-github {
  0%,
  100% {
    top: calc(50% + 0.5rem);
  }
  50% {
    top: calc(50% + 3rem);
  }
}

.linkedin-color {
  background-color: #dfeff8;
}

.bubble-linkedin {
  top: calc(40% - 170px);
  right: calc(50% - 120px);
  -webkit-animation: bubble-linkedin 3.7s ease-in-out infinite alternate;
          animation: bubble-linkedin 3.7s ease-in-out infinite alternate;
}

.bubble-linkedin::before {
  width: 450px;
  height: 450px;
}

@-webkit-keyframes bubble-linkedin {
  0%,
  100% {
    top: calc(40% - 170px);
  }
  50% {
    top: calc(40% - 130px);
  }
}

@keyframes bubble-linkedin {
  0%,
  100% {
    top: calc(40% - 170px);
  }
  50% {
    top: calc(40% - 130px);
  }
}

.loader-container {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #171717;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader {
  display: inline-block;
  position: relative;
  width: 180px;
  height: 180px;
}

.loader div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loader div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@-webkit-keyframes loader {
  0% {
    top: 72px;
    left: 72px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 144px;
    height: 144px;
    opacity: 0;
  }
}

@keyframes loader {
  0% {
    top: 72px;
    left: 72px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 144px;
    height: 144px;
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: #171717 !important;
}

p {
  font-weight: 200;
}

::-moz-selection {
  background-color: #ffdc6c;
  color: #171717;
}

::selection {
  background-color: #ffdc6c;
  color: #171717;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffdc6c;
}

input {
  background-color: #f8f9fa;
  border: none;
  border-radius: 5px;
}

textarea {
  background-color: #f8f9fa;
  border: none;
  border-radius: 5px;
}

.z-index {
  z-index: 1;
}

.z-index-max {
  z-index: 100 !important;
}

.py-6 {
  padding-bottom: 5rem;
  padding-top: 5rem;
}

h1 {
  display: inline-block;
}

h2 {
  display: inline-block;
}

h3 {
  display: inline-block;
}

.text-color {
  color: #f8f9fa;
}

.text-c-color {
  color: #c9c9c9;
}

.text-gold {
  color: #ffdc6c;
}

.text-g-color {
  color: #ffdd6caf;
}

.hover:hover {
  color: #ffdc6c;
}

.text-justify {
  text-align: justify;
}

.fs-m {
  font-size: 18px;
}

.fs-7 {
  font-size: 15px;
}

.text-right {
  text-align: -webkit-right;
}

.back {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: upright;
}

.top-40 {
  top: 30%;
}

.after-line :nth-child(1) {
  position: relative;
}

.after-line :nth-child(1)::after {
  content: " ";
  position: absolute;
  bottom: -5px;
  height: 1.6px;
  left: 0;
  width: 100%;
  background-color: #ffdc6c;
}

.line-hover :nth-child(1)::after {
  content: " ";
  position: absolute;
  bottom: -1.5px;
  height: 0.7px;
  left: 50%;
  width: 0%;
  background-color: #171717;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.line-hover :nth-child(1):hover {
  color: #f8f9fa;
}

.line-hover :nth-child(1):hover::after {
  height: 0.7px;
  background-color: #ffdc6c;
  width: 100%;
  left: 0;
}

.border-light {
  border: 1px solid #f8f9fa;
  z-index: 1;
}

.h-500 {
  min-height: 500px;
}

.background {
  background-color: #92338a !important;
}

.left-deparment {
  left: 150px;
}

.fs-larg {
  font-size: 4rem;
  font-weight: bold;
}

@media (max-width: 360px) {
  .fs-larg {
    font-size: 1.3rem;
  }
  .left-deparment {
    left: 50px;
  }
}

@media (min-width: 360px) {
  .fs-larg {
    font-size: 1.9rem;
  }
  .left-deparment {
    left: 50px;
  }
}

@media (min-width: 527px) {
  .fs-larg {
    font-size: 2.5rem;
  }
  .left-deparment {
    left: 50px;
  }
}

@media (min-width: 576px) {
  .fs-larg {
    font-size: 3rem;
  }
  .left-deparment {
    left: 50px;
  }
}

@media (min-width: 768px) {
  .fs-larg {
    font-size: 3rem;
  }
  .left-deparment {
    left: 50px;
  }
}

@media (min-width: 992px) {
  .fs-larg {
    font-size: 3.5rem;
  }
  .left-deparment {
    left: 100px;
  }
}

@media (min-width: 1200px) {
  .fs-larg {
    font-size: 4rem;
  }
  .left-deparment {
    left: 150px;
  }
}

.trs {
  -webkit-transition: 2s;
  transition: 2s;
}

.click-style {
  width: 90px !important;
  height: 90px !important;
  background-color: transparent !important;
  border: 1px solid #f8f9fa;
  -webkit-animation: opacity 0.2s infinite;
          animation: opacity 0.2s infinite;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.top-up {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1s;
  transition: 1s;
  font-weight: 600 !important;
  cursor: pointer;
  -webkit-animation: swich 2s ease-in-out infinite;
          animation: swich 2s ease-in-out infinite;
}

@-webkit-keyframes swich {
  0%,
  100% {
    background-color: #f8f9fa;
    color: #171717;
  }
  50% {
    background-color: #171717;
    color: #f8f9fa;
  }
}

@keyframes swich {
  0%,
  100% {
    background-color: #f8f9fa;
    color: #171717;
  }
  50% {
    background-color: #171717;
    color: #f8f9fa;
  }
}

.lang-li {
  border: 1px solid #f8f9fa;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lang-a {
  font-size: 15px;
}

.lang-a:hover {
  color: white !important;
}

.text-left {
  background-color: #171717;
  margin: 0px !important;
  border-top: 8px solid #f8f9fa;
  border-bottom: 8px solid #f8f9fa;
}

.text1 {
  letter-spacing: 4px;
  font-weight: bold !important;
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=import.css.map */